.app {
 
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width : 80px
}

.nav-items > ul{
  display: flex;
}

.nav-item {
  list-style-type: none;
  padding : 10px 20px;
  font-size: 18px;
}